export GUAC_BASE_URL="http://GUAC_HOST:8080/guacamole/api"
export GUAC_USERNAME="guacadmin"
export GUAC_PASSWORD="CHANGEME"

export PROXMOX_VE_ENDPOINT='https://YOUR_NODE_IP:8006'
export PROXMOX_VE_API_TOKEN='root@pam!tofu=xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx'
