export GUAC_BASE_URL="http://GUAC_HOST:8080/guacamole/api"
export GUAC_USERNAME="guacadmin"
export GUAC_PASSWORD="CHANGEME"

export TF_VAR_proxmox_endpoint='https://YOUR_NODE_IP:8006'
export TF_VAR_proxmox_api_token='root@pam!tofu=xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx'export TF_VAR_ssh_public_key_path='/home/nixos/.ssh/id_ed25519.pub'
export TF_VAR_snip_ssh_key='/path/to/key'
export TF_VAR_ssh_public_key_path='/path/to/key.pub'
